@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap");

* {
    font-family: "Roboto", sans-serif;
}
/* .form-group .form-control {
    border: none;
    border-bottom: 2px solid silver !important;
    border-radius: 0%;
}

.no-outline:focus {
    outline: none !important;
} */

.form-group {
    padding-bottom: 24px;
}
